
span.author{
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    max-height:1.4em;
    line-height: 1.4em;
    text-overflow: ellipsis;
}

.item-buttons{
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: 12;
}

.item-buttons button {
    background-color: #000000;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    text-align: center;
    border: none;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    display:none;
}

.item-buttons button:hover {
    color: black;
    background-color: white;
}

.tile:hover  .item-buttons button{
    display: inline-block;
}

 .switch{
    color:white !important;
}